MainClient/Client/Connected Services/MainServer/DataLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:simpleType name="FriendStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="Accepted" />
      <xs:enumeration value="Denied" />
      <xs:enumeration value="Removed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FriendStatus" nillable="true" type="tns:FriendStatus" />
  <xs:complexType name="ArrayOfFriend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friend" nillable="true" type="tns:Friend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriend" nillable="true" type="tns:ArrayOfFriend" />
  <xs:complexType name="Friend">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" type="tns:FriendStatus" />
          <xs:element minOccurs="0" name="UserId1" type="xs:int" />
          <xs:element minOccurs="0" name="UserId2" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Friend" nillable="true" type="tns:Friend" />
  <xs:complexType name="Message">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FromId" type="xs:int" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="ArrayOfGameSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameSession" nillable="true" type="tns:GameSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameSession" nillable="true" type="tns:ArrayOfGameSession" />
  <xs:complexType name="GameSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameSessionData" nillable="true" type="tns:GameSessionData" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSession" nillable="true" type="tns:GameSession" />
  <xs:complexType name="GameSessionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayersCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSessionData" nillable="true" type="tns:GameSessionData" />
</xs:schema>