MainClient/Client/Connected Services/MainServer/MainServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MainServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MainServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationFault" nillable="true" type="tns:OperationFault" />
  <xs:simpleType name="RoomUpdate">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="StateChanged" />
      <xs:enumeration value="UserLeft" />
      <xs:enumeration value="UserJoined" />
      <xs:enumeration value="Started" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoomUpdate" nillable="true" type="tns:RoomUpdate" />
</xs:schema>